<h1>Articles listing page</h1>

<%= will_paginate @articles %>
<%= render 'article' %>

<p>
	<% if logged_in? %>
		<%=link_to 'Create new article', new_article_path %> 
	<% end %>|
	<%= link_to "Return to home page", root_path %>
</p>